USE [master]
GO
/****** Object:  Database [FinanceTracker]    Script Date: 20-03-2025 09:45:55 ******/
CREATE DATABASE [FinanceTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinanceTracker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FinanceTracker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinanceTracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FinanceTracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinanceTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinanceTracker]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 20-03-2025 09:45:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[Id] [int] NULL,
	[Category] [varchar](1) NULL,
	[Amount] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetail]    Script Date: 20-03-2025 09:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetail](
	[UserId] [int] NULL,
	[UserName] [varchar](50) NULL,
	[PassWord] [varchar](15) NULL,
	[InsertionDate] [date] NULL,
	[IsActive] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
